body {
    background-color: burlywood;
}







img{
    width: 30px;
    height: 30px;
    margin: 10px;

}

h1 {
    color: rgb(112, 78, 4);
    text-align: center;
    font-family: fantasy;
}

img.pdfimage{
    width: 250px;
    height: auto;
    margin: auto;
    padding: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* CSS for styling PDF image on newsletter page */