body {
    background-color: rgb(222, 184, 135);
}







img{
    width: 30px;
    height: 30px;
    margin: 10px;

}
h1 {
    color: rgb(112, 78, 4);
    text-align: center;
    font-family: fantasy;



}
p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin: 20px;
    text-align: center;
}

footer{
    background-color: burlywood;
    text-align: center;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img.jackrestoration{
    
    width: 150px;
    height: auto;
    margin: 0;
    padding: 0;
    display: block;
    left: 50%;
    transform: translate(-50%, 0);
    
}

/* CSS for centering an image with class 'jackrestoration' and setting its width to 150px while maintaining aspect ratio */
/* Additional styling for body, headings, paragraphs, and footer for consistent look across the site */